*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    border-radius: 30px;
    margin-top: 40px;
    padding: 70px;
    background-color: white;
    max-width: 850px;
}

.container img{
    max-width: 850px;
    border-radius: 30px;
    display: flex;
    margin-bottom: 20px;
}

.titulo{
   margin-bottom: 30px;
}

.titulo h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.titulo p{
  
        font-size: 1.4rem; /* Ou ajuste conforme necessário */
        color: hsl(30, 10%, 34%);
        font-weight: bold;
        font-family: 'Cormorant Garamond', serif; /* Exemplo de fonte semelhante */
        line-height: 1.6; /* Para espaçamento entre linhas */
        margin-bottom: 20px; /* Para espaçamento adequado */
    } 


.preparacao{
    background-color:   hsl(330, 100%, 98%);
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 40px;
}


.preparacao p{
    color: hsl(332, 51%, 32%);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.preparacao li{
    color:  hsl(30, 10%, 34%);
    margin-left: 35px;
    padding-left: 21px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}
.preparacao span{
    font-size: 1.3rem;
    font-weight: bold;
}

.igredients{
    margin-bottom: 50px;
}
.igredients h2{
    color: hsl(14, 45%, 36%);
    font-size: 3rem;
    margin-bottom: 20px;
    
}

.instructions{
    margin-bottom: 50px;
}

.igredients li{
    color:  hsl(30, 10%, 34%);
    margin-left: 29px;
    padding-left: 21px;
    margin-bottom: 20px;
    font-size: 1.5rem; 
}



.instructions h2{
    color: hsl(14, 45%, 36%);
    font-size: 3rem;
    margin-bottom: 30px;
}

.instructions li{
    color:  hsl(30, 10%, 34%);
    margin-left: 27px;
    padding-left: 21px;
    margin-bottom: 20px;
    font-size: 1.4rem; 
}

.instructions span{
    font-weight: bold;
}

.nutrition h2{
    color: hsl(14, 45%, 36%);
 font-size: 3rem;
    margin-bottom: 30px;
}

.nutrition p{
    color:  hsl(30, 10%, 34%);
    margin-bottom: 30px;
    font-size: 1.5rem;
}
hr{
    margin-bottom: 50px;
}

table {
    color:  hsl(30, 10%, 34%);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td {
    padding: 10px 15px;
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid hsl(30, 20%, 80%);
  }
  
  td strong {
    color: hsl(332, 51%, 32%);
  }


  ul li::marker {
    color: hsl(332, 51%, 32%); 
}

.nutrition span{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}